@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 1.7rem;
}

h1 {
  margin: 4rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 110rem;
}

.container img {
  object-fit: cover;
  margin: 1.2rem;
  height: 30rem;
  width: 30rem;
  max-width: 100%;
  flex: 1 0 30rem;
  transition: transform 0.5s ease-in-out;
}

.container img:hover {
  transform: scale(1.1);
}
